body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.bg-color {
  background-color: #91D8E4;
}


.product-image-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-image {
  width: 75%;
  /* height: auto; */
}

.sub-images {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  margin-top: 10px;
}

.sub-images img {
  flex-basis: calc(18% - 10px);
  max-width: 50%;
  cursor: pointer;
  margin-bottom: 10px;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
}


.product-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-type {
  font-size: 18px;
  margin-bottom: 10px;
}

.product-price {
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

.product-qty {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.product-qty label {
  margin-right: 10px;
  font-weight: bold;
}

.product-qty input {
  width: 50px;
  margin-right: 10px;
}

.btn-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.item-mobile {
  border: solid 2px #00B9D8;
  border-radius: 15px;
  padding: 10px;
  width: 75%;
  height: auto;
  margin-bottom: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-left: 40px;
  background-color: #fff;
  
}

.item-image-container {
  width: 80%;
  margin: 0 auto;
}

.item-image-container img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
}

.row .col-sm-6 {
  margin-right: -25px;
  margin-left: -18px;
  display: inline-block; 
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}
.item-name-m{
  height: 35px;
  /* margin: 0px 100px 0px 0px; */
  display: flex;
  align-items: center;
  border-radius: 15px 15px 0px 0px;
  justify-content: center;;


}
.item-price-m {
  /* background-color: #91D8E4; */
  text-align: left;
  border-radius: 0px 0px 15px 15px;
  width: auto;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: center; */
}

.item-price-m span {
  margin: auto;
  display: inline-block;
  max-width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

.container .slide{
  width: auto;
  height: auto;
  border-radius: 15px;
  margin: auto;
  display: flex;
  justify-content: center;
}

/* .item-type-m, .item-name-m, .item-price-m {
  background-color: #e50909;
} */
.container-item {
  /* border: 1px solid #1bb965; */
  padding: 5px;
  background-color: #D9D9D9;
  margin-top: 75px;
  /* margin: 25px 10px 0px 10px; */
  /* border-radius: 10px 10px 0px 0px; */
}

.footer {
  background-color: #00B9D8;
  margin-top: 50px;
  /* margin-bottom: 100px; */
  padding: 30px 0;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #000;
  text-decoration: none;
}

.footer ul li a:hover {
  color: #555;
}

.col-md-3 h5 {
  margin-top: 10px;
}

/* .social-media {
  padding-top: 50px;
} */

.app-store {
    display: flex;
    justify-content: center;
}

.app-store img {
    width: 120px;
    height: 45px;
}


.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-icons a {
  display: block;
  margin: 0 10px;
  color: #555;
  font-size: 24px;
}

.social-media-icons a:hover {
  color: #3b5998;
}


/* .container-item .item-image-wrapper-m {
  background-color: #a71313;
} */