body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.bg-color {
  background-color: #91D8E4;
}
.category-section {
  display: flex;
  justify-content: center; /* mengatur posisi horizontal ke tengah */
  align-items: center; /* mengatur posisi vertical ke tengah */
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 75px;
}

.category-item {
  width: 50px;
  height: 50px;
  background-color: #91D8E4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-right: 75px;
}

.category-item:hover {
  transform: scale(1.2); /* menambahkan efek scaling saat hover */
  transition: all 0.2s ease-in-out; /* menambahkan efek transisi selama 0.2 detik */
}


.category-icon-1 img{
  /* background-image: url('Bayi.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 75%;
  margin-top: 5px;
}
.category-icon-2 img{
  /* background-image: url('Bayi.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 75%;
  margin-top: 5px;
}
.category-icon-3 img{
  /* background-image: url('Bayi.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 75%;
  margin-top: 5px;
}
.category-icon-4 img{
  /* background-image: url('Bayi.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 75%;
  margin-top: 5px;
}
.category-icon-5 img{
  /* background-image: url('Bayi.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 75%;
  margin-top: 5px;
}
.category-icon-6 img{
  /* background-image: url('Bayi.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 75%;
  margin-top: 5px;
}
.category-icon-7 img{
  /* background-image: url('Bayi.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 75%;
  margin-top: 5px;
}

/* .item-mobile {
  border: 1px solid #E1E1E1;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
} */
hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 0 auto;
  width: 50%;
}

.item-mobile {
  border: solid 2px #00B9D8;
  border-radius: 15px;
  padding: 10px;
  width: 75%;
  height: auto;
  margin-bottom: 20px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-left: 40px;
  background-color: #fff;
  
}

.item-image-container {
  width: 80%;
  margin: 0 auto;
}

.item-image-container img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
}

.row {
  display: inline-block; 
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.row .col-md-3 {
  margin-right: -25px;
  margin-left: -18px;
}
.item-type-m{
  border-radius: 15px 15px 0px 0px;
}

.item-type-m span{
  margin: 0px 135px 0px 0px;
  font-size: 12px;
  display: inline-block;
  font-weight: 700;

}


.item-price-m {
  text-align: left;
  border-radius: 0px 0px 15px 15px;
}

.item-name-m span{
  margin: 0px 100px 0px 0px;
}
.item-price-m {
  /* background-color: #91D8E4; */
  width: auto;
  height: 50px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.item-price-m span {
  margin: 10px;
  display: inline-block;
  max-width: 100%;
  font-family: 'Courier New', Courier, monospace;
}

.container .slide{
  width: auto;
  height: auto;
  border-radius: 15px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.carousel-inner img {
  height: 100%;
}

/* .item-type-m, .item-name-m, .item-price-m {
  background-color: #e50909;
} */
.container-item {
  /* border: 1px solid #1bb965; */
  padding: 5px;
  background-color: #D9D9D9;
  margin: 25px 10px 0px 10px;
  border-radius: 10px 10px 0px 0px;
}

.next-product-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.next-product-button {
  padding: 10px;
  background-color: #00B9D8;
  margin: 10px 10px 0px 10px;
  border-radius: 10px;
  color: #fff;
  border: none;
  transition: all 0.3s ease;
}

.next-product-button:hover {
  background-color: #fff;
  color: #00B9D8;
  border: 2px solid #00B9D8;
}

.footer {
  background-color: #00B9D8;
  margin-top: 50px;
  /* margin-bottom: 100px; */
  padding: 30px 0;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #000;
  text-decoration: none;
}

.footer ul li a:hover {
  color: #555;
}

.col-md-3 h5 {
  margin-top: 10px;
}

/* .social-media {
  padding-top: 50px;
} */

.app-store {
    display: flex;
    justify-content: center;
}

.app-store img {
    width: 120px;
    height: 45px;
}


.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-icons a {
  display: block;
  margin: 0 10px;
  color: #555;
  font-size: 24px;
}

.social-media-icons a:hover {
  color: #3b5998;
}


/* .container-item .item-image-wrapper-m {
  background-color: #a71313;
} */

